@import './assets/base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold text-content;
  }

  a {
    @apply text-primary transition-colors duration-150;
  }

  a:hover {
    @apply text-primary;
  }
}
